div.header-message {
    font-size: 20px;
    padding-top: 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

div.list-header h2.list-header-name {
    padding-left: 5px;
}

div.list.warning div.list-header h2.list-header-name,
div.list.overage div.list-header h2.list-header-name,
div.list.warning div.list-header textarea,
div.list.overage div.list-header textarea {
    color: white;
    text-shadow: black 0px 0px 2px;
}

div.list.warning a.open-card-composer,
div.list.overage a.open-card-composer {
    color: white;
    text-shadow: black 0px 0px 1px;
}

div.list.warning a.open-card-composer:hover,
div.list.overage a.open-card-composer:hover {
    background-color: rgba(0, 0, 0, 0.1);
}